@media (max-width: 400px) {

	body {
		background: red;
		font-size: 3em;
		line-height: 1em;
	}

	.panels-flexible-1 .panels-flexible-region-inside {
		padding: 0;
	}

	.panels-flexible-region-3-a {
		width: 100%;
	}

	.view-display-id-panel_pane_1 .views-field-title,
    .view-display-id-panel_pane_2 .views-field-title {
      font-size: 75px;
    }

    .panels-flexible-region-3-b,
    .panels-flexible-region-3-c_,
    .panels-flexible-region-3-c,
    .panels-flexible-region-3-c1,
    .panels-flexible-region-3-c2,
    .panels-flexible-region-3-d,
    .panels-flexible-region-3-e
     {
      width: 100%;
    }    

    .panels-flexible-region-3-b .panel-pane,
    .panels-flexible-region-3-c_ .panel-pane,
    .panels-flexible-region-3-c .panel-pane,
    .panels-flexible-region-3-d .panel-pane,
    .panels-flexible-region-3-e .panel-pane {
      overflow: hidden;
    }

    .panels-flexible-region-3-b img,
    .panels-flexible-region-3-c_ img,
    .panels-flexible-region-3-c1 img,
    .panels-flexible-region-3-c2 img,
    .panels-flexible-region-3-d img,
    .panels-flexible-region-3-e img {
      width: 40%;
      float: left;
      margin-right: 2%;
    }

    .panels-flexible-region-3-c img,
    .pane-frontpage-blocks-panel-pane-22 img,
    .pane-frontpage-blocks-panel-pane-23 img,
    .pane-frontpage-blocks-panel-pane-24 img,
    .pane-frontpage-blocks-panel-pane-25 img {
    	width: 100%;
    }

    .pane-frontpage-blocks-panel-pane-17, 
    .pane-frontpage-blocks-panel-pane-18 {
      width: 100%;
      float: left;
    }

    .panels-flexible-region .panels-flexible-region-3-banner .pane-1 {
      display: none;
    }

    .panels-flexible-region .panels-flexible-region-3-banner .pane-2 {
      display: block;
    }


    .view-display-id-panel_pane_11 {
      position: relative;
    }

    .view-display-id-panel_pane_11 .views-field-title,
    .view-display-id-panel_pane_11 .views-field-field-source-1,
    .view-display-id-panel_pane_11 .views-field-field-lead,
    .view-display-id-panel_pane_11 .views-field-field-tags,
    .view-display-id-panel_pane_11 .views-field-comment-count
     {
    	margin-left: 42%;
    }
  
    .view-display-id-panel_pane_11 .views-field-field-image-url {
      position: absolute;
      top: 0;
    }

    .view-display-id-panel_pane_11 .views-field-field-image-url img {
    	width: 50%;
    }
    

}